<!-- Open internal javascript -->
<script>

  $(document).ready(function() {

    // Instructions expand/collapse

    var content = $('#instructionBody');

    var trigger = $('#collapseTrigger');

    // content.hide();

    $('.collapse-text').text('(Click to Collapse)');

    trigger.click(function(){

      content.toggle();

      var isVisible = content.is(':visible');

      if(isVisible){

        $('.collapse-text').text('(Click to Collapse)');

      }else{

        $('.collapse-text').text('(Click to Expand)');

      }

    });

    // end expand/collapse

  });

  function hidePadding(idb, content) {
    if (content == "[PAD]") {
        document.getElementById(id).style.display = "block";
        document.getElementById(idb).required = false;
    };
  };

</script><!-- CLose internal javascript -->